.following {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    width: fit-content
}

.following:hover {
    cursor: pointer;
}

.following .followingInfo {
    margin-left: 10px;
    margin-right: 10px;
}