.popular {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    width: fit-content;
}

.popular:hover {
    cursor: pointer;
}

.popular .popularInfo {
    margin: 0 10px;
}

.popular .popularFollowers {
    width: 50px;
    height: 30px;
    background-color: aliceblue;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 4px;
}

.popular .popularFollowersdark {
    background-color: rgb(44, 44, 44);
}