.chat {
    width: 100%;
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}

.chattopbar {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(222, 231, 239);
    padding: 10px 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.chattopbardark {
    background-color: rgb(75, 75, 75);
    color: white;
}

.chattopbar .currentmemberinfo {
    display: flex;
    align-items: center;
}

.chat .currentchatmessages {
    overflow-y: scroll;
    padding: 15px;
    box-sizing: border-box;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
}

.currentchatmessagesdark {
    background-color: black;
}

.chat .chatInput {
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0;
    padding-right: 5px;
    box-sizing: border-box;
    background-color: rgb(223, 234, 245);
}

.chat .chatInput input {
    padding: 0 10px !important; 
}

.chat .chatInputdark {
    background-color: rgb(57, 57, 57) !important;
}

.chat .chatInputdark input {
    color: white;
}

.chat .chatInputdark input::placeholder {
    color: rgb(198, 198, 198) !important;
}

@media (max-width: 800px) {
    .chat {
        margin: 0;
    }
}

@media (max-width: 450px) {
    .chat .currentchatmessages {
        height: calc(100% - 110px);
    }
    .chat .chatInput {
        height: 45px;
    }
}