.Home {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#timelineWrapper {
    height: 100%;
    overflow-y: scroll;

    /* This field keeps in check the padding/margin doesnt overflow the height */
    box-sizing: border-box;
    flex: auto;
    padding: 25px;
}