.friend {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-bottom: 12px;
    background-color: rgb(223, 236, 248);
    border-radius: 4px;
    color: black;
}

.frienddark {
    background-color: black;
    color: white;
}

.friend:hover {
    cursor: pointer;
    background-color: rgb(188, 217, 240);
    transition: 500ms;
}

.frienddark:hover {
    background-color: rgb(71, 71, 71);
}

.friend .friendInfo {
    margin-left: 10px;
}