.sidebar {
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    /* background-color: #e4edfd; */

    /* This field keeps in check the padding/margin doesnt overflow the height */
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .sidebaritem {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 6px;
}

.sidebar .sidebaritem:hover {
    cursor: pointer;
    background-color: rgb(222, 231, 239);
    transition: 500ms;
}

.sidebar .activesidebaritem {
    background-color: rgb(222, 231, 239);
}

.sidebar .sidebaritem .sidebaritemicon {
    width: 30px;
    height: 30px;
    margin-right: 10px;   
}