.Post {
    padding-bottom: 10px;
    box-shadow: none !important;
    border-radius: 16px !important;
}

.Postdark {
    background-color: black !important;
    color: white !important;
}

.timedark {
    color: gray;
}