.newPassword {
    width: 350px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}

.resetTitle {
    margin: 0;
    margin: 20px 0;
    text-align: center;
    color: black;
}

.resetInputWrapper {
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
}

.changeBtn {
    width: 100%;
    margin-top: 20px;
}

.changeBtn > button {
    background-color: #007463 !important;
    padding: 8px 0 !important;
}

.newPassword .resettologin {
    color: rgb(0, 118, 181)
}

.newPassword .resettologin:hover {
    cursor: pointer;
}