@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  font-family: "Nunito", sans-serif;
  background-color: rgb(231, 244, 255);
}

.Appdark {
  font-family: "Nunito", sans-serif;
  background-color: rgb(48, 48, 48);
  color: white;
}

.customsearchinputdark {
  background-color: rgb(48, 48, 48) !important;
  color: rgb(197, 197, 197) !important;
}

.closeIcondark {
  color: white !important;
}

.closeIcondark:hover {
  background-color: rgb(56, 56, 56) !important;
}

.sendIcondark {
  color: white !important;
}

.sendIcondark:hover {
  background-color: rgb(56, 56, 56) !important;
}