.searchUsers {
    width: 40%;
    min-width: 350px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    position: relative;
}

.searchUsersdark {
    background-color: rgb(78, 78, 78);
}

.searchUsers .searchInput {
    width: 90% !important;
    height: 100% !important;
    border-radius: 0;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0 10px;
    padding-left: 2px;
    border-radius: 4px;
}

.searchInputdark {
    background-color: rgb(78, 78, 78);
    color: rgb(200, 200, 200);
}

input::placeholder {
    color: rgb(156, 156, 156);
}

.searchUsers .clearSearchIcon, .searchIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
}

.clearSearchIcon {
    margin-right: 5px;
}

.searchIcon {
    margin-left: 5px;
}

.searchUsers .clearSearchIcon:hover {
    cursor: pointer;
    background: rgb(242, 242, 242);
}

.searchUsersdark .clearSearchIcondark:hover {
    background: rgb(100, 100, 100);
}

.searchUsers .foundUsersContainer {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 300px; 
    background: white;
    border-radius: 4px;
    top: 47px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.searchUsersdark .foundUsersContainerdark {
    background: rgb(41, 41, 41);
}

@media (max-width: 800px) {
    .searchUsers {
        width: 95%;
        position: absolute;
        left: 2.5%;
        z-index: 1000;
    }
}